*,
*::before,
*::after {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

html {    
    /* overflow-x: hidden; */
    -ms-scroll-snap-type: y mandatory;
        scroll-snap-type: y mandatory;
    scroll-behavior: smooth;

}

body{
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url(images/light-mode.jpg);
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
    background-position: center;
    max-width: 100%;
    font-family: 'Graduate', serif;
    color: rgb(255, 255, 255);
    overflow-x: hidden;
}

header {
    height: 100vh;
    width: 100dvw;
    top: 0;
    left: 0;
    position: fixed;
}

.top {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
}


.menu{
    position: fixed;
    top: 0;
    margin: 20px;
    width: 70px;
    height: 70px;
    border: solid 4px rgb(255, 255, 255);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    opacity: 1;
}

a{
    text-decoration: none;
}

.name{
    text-align: center;
    text-transform: uppercase;
    font-size: 4rem;
}


button.dark-mode-toggle {
    all: initial;
    text-align: right;
    margin-right: 20px;
    margin-top: 20px;
    cursor: pointer;
    opacity: 1;
}

/* Styles pour le thème sombre */
body.dark-mode {
  background-image: url(images/dark-mode1.jpg);
  color: #fff; 
}

body.dark-mode #cercle {
  width: 150px;
  height: 150px;
  background-image: radial-gradient(rgba(255, 162, 0, 0), rgba(128, 0, 255, 0));
  left: 51%;
}


.top img{
  width: 70px;
  margin-right: 30px;
}


#cercle {
  position: absolute;
  width: 120px;
  height: 120px;
  background-image: radial-gradient(rgba(255, 162, 0, 0.848), rgba(128, 0, 255, 0));
  border: solid 2px rgb(255, 255, 255);
  border-radius: 50%;
  top: 60%; 
  left: 50.5%; 
  transform: translate(-50%, -50%);
}


nav>div{
  border-bottom: 2px solid rgb(255, 255, 255); 
  position: absolute;
  transform: translate(-50%, -50%);
}

.ligneH1 {
  width: 15%;
  top: 60%; 
  left: 34%; 
}

.ligneH2 {
  width: 15%;
  top: 60%; 
  left: 68%; 
}

.ligneV3 {
  width: 10%;
  top: 33%; 
  left: 45.5%; 
  transform: rotate(90deg);
}

.ligneV4 {
  width: 10%;
  top: 87%; 
  left: 45.5%; 
  transform: rotate(90deg);
}

.ligneD1 { 
    width: 17%;
  border-bottom: 2px solid rgb(255, 255, 255,0.2);
  top: 30%; 
  left: 31%; 
  transform: rotate(45deg);
  text-align: center;
  
}

.ligneD2 {
  width: 15%;
  border-bottom: 2px solid rgb(255, 255, 255,0.2);
  top: 78%; 
  left: 55%; 
  transform: rotate(45deg);
  text-align: center;
}

.ligneD3 {
  width: 15%;
  border-bottom: 2px solid rgb(255, 255, 255,0.2);
  top: 78%; 
  left: 31%; 
  transform: rotate(-45deg);
  text-align: center;
}

.ligneD4 {
  width: 17%;
  border-bottom: 2px solid rgb(255, 255, 255,0.2);
  top: 30%; 
  left: 55%; 
  transform: rotate(-45deg);
  text-align: center;
}

nav a{
  color: #ffffff;
  text-decoration: none;
  font-size: 2em;
  opacity: 1;
  position: relative;
  top: 18px;
}

main{
  background-image: url(images/glass.png) ;
  background-size: cover; 
  background-repeat: no-repeat; 
  background-attachment: fixed;
  background-position: center;
  max-width: 100%;
  margin-top: 100vh;
  /* position: relative; */
}

.wrapper{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  /* perspective: 800px; */
  color: #fcfcfc;
  animation: fadeIn .5s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1;
}

.card{
  height: 400px;
  transform-style: preserve-3d;
  transform: translateZ(-160px);
  transition: transform 350ms cubic-bezier(0.390, 0.575, 0.565, 1.000);
  cursor: pointer;
  color: #fff;
  
}

.card > div{
  background-size: cover;
  position: absolute;
  height: 400px;
  width: 100%;
  padding: 34px 21px;
  transition: all 350ms cubic-bezier(0.390, 0.575, 0.565, 1.000);
  
}

.front {
  transform: rotateY(0deg) translateZ(160px);
}


.right {
  transform: rotateY(90deg) translateZ(160px);
}

.card:hover{
  transform: translateZ(-160px) rotateY( -90deg);
}

.card:hover .front{
  opacity: 0; 
}

.card:hover .right{
  opacity: 1; 
}

@keyframes fadeIn{
  0%{
    opacity: 0.33;
    transform: scale(.89);
  }
}

/* Pour deux cartes par ligne à partir d'une certaine largeur */
@media (max-width: 800px) {
  .wrapper {
    grid-template-columns: repeat(auto-fill, minmax(48%, 1fr));
  }
  .card, .card > div{
    height: 400px;
  }
  
}

/* Pour une carte par ligne à partir d'une certaine largeur */
@media (max-width: 550px) {
  .wrapper {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  }
}

h2{
  font-size: 2.5rem;
  text-align: center;
  padding: 2%;
}

.price{
  float: right;
  font-size: 2rem;
  border: 2px rgb(255, 255, 255) solid;
  width: fit-content;
  padding: 10px;
  border-radius: 50%;
}

h3{
  font-size: 2rem;
  margin-bottom: 5px;
  color: #ffffff;
}

p{
  margin: 0;
  font-weight: 300;
}

ul{
  margin-left: 21px;
  padding: 0;
  font-weight: 300;
  list-style: none;
}

li{
  padding-bottom: 8px;
  position: relative;
}

li:before{
  content: 'x';
  position: absolute;
  left: -20px;
  opacity: 0.55;
}

.slider {
  overflow: hidden;
  width: 100%; 
  height: 40vh;
  margin: auto; 
  padding: 20px;
  display: flex;
  align-items: center;
}

.logo-container {
  display: flex; 
  transition: transform 0.5s ease; 
}

.logo {
  flex: 0 0 auto;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 100px; 
  height: 80px; 
}


/* Section à propos */
.section_propos{
  text-align: center;
  margin-top: 20px;
}

.container {
  position: relative;
  width: fit-content;
  margin-top: 200px;
  left: 50%;
  transform: translate(-50%, -50%);  
}

.moi{
  border-radius: 50%;
  width: 200px;
  transition: transform 0.9s ease;
}

.moi:hover {
  transform: scale(1.1);
}

.section_propos>p{
  margin-bottom: 10px;
  padding-right: 10px;
  width: 40%;
  font-family: 'Jost', 'Courier New', Courier, monospace;
  margin-left: auto;
  text-align: left;
}

.text {
  font-size: 2rem;
  display: none;
  transition: opacity 0.3s ease;
}

.word {
  display: inline-block;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.un{
  position: absolute;
  top: 120%;
  right: 100%;
}

.deux{
  position: absolute;
  top: 55%;
  right: 140%;
}

.trois{
  position: absolute;
  top: -10%;
  right: 120%;
}

.quatre{
  position: absolute;
  top: -45%;
  left: -20%;
}

.cinq{
  position: absolute;
  top: -10%;
  left: 120%;
}

.six{
  position: absolute;
  top: 45%;
  left: 150%;
}


/* PAGE CONTACT */
.button-group {
  position: relative;
  display: flex;
  gap: 6%;
  justify-content: center;
  text-align: center;
  padding: 5rem 0 10rem 0;
}

.button-group a {
  padding: 10px 30px;
  margin: 1em;
  border-radius: 5px;
  text-decoration: none;
  transition: 0.5s ease-in-out;
}

.btn4 {
  border: white 4px solid;
  background-color: #FF8360;
  color: #FFF;
  font-size: 20px;

}

.btn4:hover {
  /* border: none; */
  padding: 1em 1.5em;
  letter-spacing: 2.5px;
  box-shadow: 0 0 0 2px white, 0 0 0 3px #FF8360, 0 0 0 2px white inset, 0 0 0 5px #FF8360, 7.5px 7.5px 0 2.5px white, 10px 10px 0 5px #FF8360;
}

body.dark-mode .btn4{
  background-color: #424242;
}

body.dark-mode .btn4:hover{
  box-shadow: 0 0 0 2px white, 0 0 0 3px #424242, 0 0 0 2px white inset, 0 0 0 5px #424242, 7.5px 7.5px 0 2.5px white, 10px 10px 0 5px #424242;
}

footer{
  position: relative;
  background-color: #141414;
  box-shadow: 0px -3px 15px #141414;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer a{
  color: #FFF;
  /* cursor: pointer; */
}


/* Barre de défilement verticale */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #f1f1f1;
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #818181;
}
::-webkit-scrollbar-track {
  background-color: #2f2f2f;
}


@media (max-width: 1060px) { 

  .ligneH1 {
      top: 60%; 
      left: 32%; 
  }
  
  .ligneH2 {
      top: 60%; 
      left: 70%; 
  }
  
  .ligneV3 {
      width: 12%;
      top: 37%; 
      left: 46%; 
  }
  
  .ligneV4 {
      width: 12%;
      top: 85%; 
      left: 46%; 
  }
  
  .ligneD1 {
      top: 36%; 
      left: 29%; 
  }
  
  .ligneD2 {
      top: 77%; 
      left: 58%; 
  }
  
  .ligneD3 {
      top: 77%; 
      left: 29%; 
  }
  
  .ligneD4 {
      top: 36%; 
      left: 58%; 
  }

  .name{
      font-size: 3rem;
  }

  nav a{
      font-size: 1.5rem;
      opacity: 1;
      position: relative;
      top: 12px;
  }

}
@media (max-width: 830px) { 
  .text {
    font-size: 1.5rem;
  }
  .quatre {
    right: -20%;
  }
  .moi{
    width: 150px;
    margin: 3vw;
  }
  .section_propos>p{
    width: 60%;
  }
}
@media (max-width: 800px) { 

  .ligneD2 { 
    width: 20%;
  }
  body.dark-mode #cercle {
    width: 125px;
    height: 125px;
  }

  .button-group {
    flex-wrap: wrap;
    padding: 5rem 0 5rem 0;
  }
  .button-group div {
    margin-top: 3rem;
  }

}
@media (max-width: 700px) { 
  .text {
    font-size: 1.5rem;
  }
  .quatre {
    right: -20%;
  }
  .moi{
    margin: 20px 0 0 0 ;
  }
  .section_propos>p{
    width: 100%;
    padding-left: 20px;
    margin-top: 30px;
  }
}
@media (max-width: 615px) { 
  .text {
    font-size: 1rem;
  }
  .moi{
    margin: 0px;
  }
  .un{
    top: 90%;
  }
  .deux{
    top: 40%;
    right: 120%;
  }
  .trois{
    right: 110%;
  }  
  .cinq{
    left: 110%;
  }
  .six{
    top: 30%;
    left: 120%;
  }
}
@media (max-width: 650px) { 

.ligneH1 {
    top: 60%; 
    left: 25%; 
}

.ligneH2 {
    top: 60%; 
    left: 77%; 
}

.ligneV3 {
    width: 15%;
    top: 35%; 
    left: 45%; 
}

.ligneV4 {
    width: 15%;
    top: 85%; 
    left: 45%; 
}

.ligneD1 {
    top: 36%; 
    left: 25%; 
}

.ligneD2 {
    top: 77%; 
    left: 63%; 
    width: 25%;
  }

.ligneD3 {
    top: 77%; 
    left: 24%; 
}

.ligneD4 {
    top: 39%; 
    left: 63%; 
}

nav a{
    font-size: 1.5rem;
    opacity: 1;
    position: relative;
    top: 12px;
}

}
@media (max-width: 570px) { 

.name { 
  font-size: 1.5rem;
}

.top img{
  width: 50px;
}

.menu{
  width: 50px;
  height: 50px;
  font-size: 0.7rem;
}

body{
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

button.dark-mode-toggle {
  margin-right: 0px;
}

.logo {
  width: 100px; 
}
}
@media (max-width: 466px) { 
#cercle, body.dark-mode #cercle{
  width: 100px;
  height: 100px;
}
.ligneH1 { 
  left: 20%;
  width: 25%;
}
.ligneH2 {
    left: 81%;
    width: 25%;
}
.ligneV3 {
    width: 25%;
    left: 39%; 
}
.ligneV4 {
    width: 25%;
    left: 39%; 
}
.ligneD1 {
    top: 35%; 
    left: 10%; 
    width: 30%;
}
.ligneD2 {
    top: 77%; 
    left: 65%; 
    width: 30%;
}
.ligneD3 {
    top: 77%; 
    left: 10%; 
    width: 30%;
}
.ligneD4 {
    top: 35%; 
    left: 65%;
    width: 30%; 
}
.deux{
  top: 90%;
  right: 80%;
}
.un{
  top: 50%;
  right: 120%;
}
.six{
  top: 55%;
  left: 105%;
}
}
@media (max-width: 400px) { 
.ligneD2 { 
  width: 35%;
}
.text{
  display: block;
}
}
@media (max-width: 320px) { 

#cercle{
  width: 90px;
  height: 90px;
}

.ligneH1 { 
  left: 15%;
  width: 20%;
}

.ligneH2 {
    left: 83%;
    width: 20%;
}

.ligneV3 {
    width: 25%;
    left: 38%; 
    top: 42%;
}

.ligneV4 {
    width: 25%;
    left: 38%; 
    top: 77%;
}

.ligneD1 a, .ligneD2 a, .ligneD3 a, .ligneD4 a{
  font-size: 1.2rem;
  top: 10px;
}

.ligneD1 {
    top: 43%; 
    left: 10%; 
    width: 30%;
}

.ligneD2 {
    top: 72%; 
    left: 62%; 
    width: 38%;
}

.ligneD3 {
    top: 72%; 
    left: 5%; 
    width: 30%;
}

.ligneD4 {
    top: 43%; 
    left: 62%;
    width: 30%; 
}

.name{
  position: relative;
  top: 70px;
  text-wrap: nowrap;
  left: 10%;
}

.dark-mode-toggle{
  position: relative;
  left: 70%;
}

}